<header class="main-header">

  <!-- Logo -->
  <%= link_to root_path, class: "logo" do %>
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>DMA</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>DMA</b> Online</span>
  <% end %>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
  </nav>
</header>