<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <%= link_to(root_url, class: 'site_title') do %>
          <i class="fa fa-paw"></i> <span>DMA Online</span>
      <% end %>
    </div>

    <div class="clearfix"></div>


    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> Institutions <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><%= link_to "All Institutions", admin_institutions_path %></li>
            <li><%= link_to "New Institution", new_admin_institution_path %></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /sidebar menu -->
  </div>
</div>