<h1><%= @institution_admin.name %></h1>

<p>
  <strong>Name:</strong>
  <%= @institution_admin.name %>
</p>

<p>
  <strong>Institution name:</strong>
  <%= @institution_admin.institution.name %>
</p>

<p>
  <strong> Email:</strong>
  <%= @institution_admin.email %>
</p>
